.text-field{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}


.transparent{
    -fx-background-color: rgb(0,0,0,0);
}


.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10.0,0.0,0.0,10.0);
}


.button{
    -fx-background-color: #F2E635;
    -fx-background-radius: 50;
}

.button:pressed{
    -fx-background-color: #DBD030;
}



.button2{
    -fx-background-color: #699BFF;
}

.button3{
    -fx-background-color: #FF6B6B;
}



.button2:pressed{
    -fx-background-color: #5F8DE8;
}

.button3:pressed{
    -fx-background-color: #DE5D5D;
}






.table-view{
    -fx-background-color:  #E6DAC5;
    -fx-fill: white;
}

.table-view .column-header-background{
    -fx-background-color:  #D9C27E;


}

.table-view .column-header, .table-view.filler{
    -fx-size: 25;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}


.pane{
    -fx-background-color:  #E6DAC5;
    -fx-background-radius: 50;
}

.Vbox{

}


